%p
  Hello #{@job_seeker.full_name(last_name_first: false)},
%p
  This message is from the administrator of the PETS system for
  the jobs agency:
%p
  A job you had applied to has been removed from PETS by the company which posted that job.

  This is to let you know that
  %strong
  = link_to @job.title, job_url(id: @job.id)
  ,&nbsp You had applied to this job on 
  = @job_seeker.application_for_job(@job).created_at.to_formatted_s(:long_ordinal)
%p
  If you have any other questions about the use of PETS
  then please contact the PETS administrator at:
  = mail_to("#{ENV['NOTIFICATION_EMAIL']}", 'PETS Admin',
         subject: 'Job revoked email notification')
