- provide(:home_active, 'active')
.row
  .col-sm-12.col-md-12.col-lg-12.about-image
    = image_tag('MetPlus_Home_Banner.gif')
    .blue-bar
      Public Employment Tracking System (PETS)
.row
  .col-md-8.col-md-offset-2.content-center

    = image_tag('PETS_Logo.jpg', size: '250x220')
    %br
      %h1 Welcome to MET|PLUS PETS
    %p
      Michigan Employment &amp; Training Plus, (MET|PLUS) is a 501(c)(3) Vocational
      Training non-profit organization that strives to assist Michigan job
      seekers with invaluable training and job development that will put them
      on a career path to success.
    %br
      %strong MET|PLUS agency personnel manages the job of bringing job seekers
      and employers together.
    %br
      %a{ href: 'http://www.metplus.org', target: '_blank' } Learn more about
      MET|PLUS.
    %br
.row
  .col-md-5.col-md-offset-0.grey-block
    = image_tag('MetPlus_employer.png')
    %p
      = link_to 'Register as a Job Seeker', new_job_seeker_path, class: 'btn btn-primary btn-lg button-white'
    %br
    %br
    .h4
      MET|PLUS helps you get ready for your next job opportunity by providing
      you with:
    %p
    %br Hands-on Job Training
    %br Employment Services
    %br Job Skill Enhancement
    %br Entrepreneurial Guidance
    %br PETS resources, including job postings and online applications

  .col-md-5.col-md-offset-2.grey-block
    = image_tag('MetPlus_job_seeker.png')
    %p
      = link_to 'Register as an Employer', new_company_registration_path, class: 'btn btn-primary btn-lg button-white'
    %br
    %br
    .h4
      MET|PLUS partners with you to help find quality employees from our
      list of job seekers:
    %p
    %br Prescreening Job Seekers
    %br Recruiting and Tracking
    %br Job Fair Facilitation
    %br Statistical Research
    %br PETS resources, such as job posting, job seeker matching, and others
