.row
  .col-sm-2.text-right
    %strong Name:
  .col-sm-8
    = company_person.full_name
.row
  .col-sm-2.text-right
    %strong Email:
  .col-sm-8
    = mail_to company_person.email
.row
  .col-sm-2.text-right
    %strong Phone:
  .col-sm-8
    = company_person.phone
.row
  .col-sm-2.text-right
    %strong Company:
  .col-sm-8
    = company_person.company.name
.row
  .col-sm-2.text-right
    %strong Title:
  .col-sm-8
    = company_person.title
.row
  .col-sm-2.text-right
    %strong Status:
  .col-sm-8
    = company_person.status
    = link_to '(Invite Again)',                                             |
        user_invitation_path(user: {email: company_person.email,            |
                               first_name: company_person.first_name,       |
                                last_name: company_person.last_name} ),     |
                                                  method: :post if          |
                  company_person.status == CompanyPerson::STATUS[:IVT]      |

%h4
  = "#{company_person.first_name} has these roles:"

- if company_person.company_roles.empty?
  There are no roles assigned to this company_person.
- else
  %div{:class => 'row'}
    %div{:class => 'panel panel-default'}
      %ul
        - company_person.company_roles.each do |role|
          %li= role.role

%br
%br
%div{class: 'row'}
  .col-sm-2
    = button_to 'Edit Person', edit_company_person_path(company_person), |
            method: :get, class: 'btn btn-primary'                       |
  .col-sm-2.col-sm-offset-1
    = button_to 'Delete Person', company_person_path(company_person),   |
      method: :delete, data: {confirm: "Delete this Person?"},          |
       class: 'btn btn-danger'                                          |
