%div
  = form_for @company_person, url: update_profile_company_person_path(@company_person)  do |f|
    .form-group
      = f.label :title, 'Title', class: 'control-label col-sm-2'
      .col-sm-4
        = f.text_field :title, class: 'form-control'

    .form-group
      = f.label :first_name, 'First Name', class: 'control-label col-sm-2'
      .col-sm-4
        = f.text_field :first_name, size: 30, class: 'form-control'

    .form-group
      = f.label :last_name, 'Last Name', class: 'control-label col-sm-2'
      .col-sm-4
        = f.text_field :last_name, class: 'form-control'

    .form-group
      = f.label :phone, 'Contact Phone', class: 'control-label col-sm-2'
      .col-sm-6
        = f.phone_field :phone, size: 30, class: 'form-control'

    .form-group
      = f.label :email, 'Contact Email', class: 'control-label col-sm-2'
      .col-sm-6
        = f.email_field :email, size: 30, class: 'form-control'

    .form-group
      = f.label :password, 'Password', class: 'control-label col-sm-2'
      .col-sm-6
        = f.password_field :password, size: 30, class: 'form-control'

    .form-group
      = f.label :password_confirmation, 'Password Confirmation', class: 'control-label col-sm-2'
      .col-sm-6
        = f.password_field :password_confirmation, size: 30, class: 'form-control'


    .form-group
      .col-sm-2.col-sm-offset-2
        = submit_tag 'Submit', method: :patch, class: 'btn btn-primary'
      .col-sm-2.col-sm-offset-2
        = link_to 'Cancel', root_path, class: 'btn btn-danger'
