%h2 Update Your Profile
%br
= form_for @company_person, url: update_profile_company_person_path(@company_person), html:{method: 'patch', class: 'form-horizontal'} do |cp|
	.col-sm-offset-2.col-sm-6
		= render 'shared/error_messages', object: @company_person
		%br
	.clearfix

	.form-group
		=cp.label :title, 'Title', autofocus: true, class:'control-label col-sm-2'
		.col-sm-6
			=cp.text_field :title, size: 30, class:'form-control'
	- @user_form = cp
	= render partial: 'users/subform'
	.form-group
		= cp.label :address_id, 'Address', class: 'control-label col-sm-2'
		.col-sm-6
			= cp.select(:address_id, @company_addresses.collect { |a| [a.full_address, a.id] }, {include_blank: true}, class: 'form-control')

	.form-group
		.col-sm-2.col-sm-offset-2
			=@user_form.submit class: 'btn btn-primary'
		.col-sm-2.col-sm-offset-1
			=link_to 'Cancel', :back, class: 'btn btn-danger'
%br
