.col-sm-9
  %h2
    = "Welcome back to PETS, #{pets_user.full_name(last_name_first: false)}"
    = link_to edit_profile_company_person_path(pets_user),
      :title => 'Edit profile',
      :id => 'edit-profile' do
      %i.fa.fa-pencil-square-o.fa-1
.col-sm-3
  - if @admin_ca
    .col-sm-3.col-sm-offset-9{style: 'margin-top: 20px;'}
      = link_to 'Edit Company Info',
                    edit_company_path(id: @company.id),
                    method: :get, class: 'btn btn-primary btn-sm pull-right'

.clearfix
.col-sm-3
  %h4 Company Information
  %a(id='toggle_company_info' href='#company_info_table' class='text-danger'
              style='padding-left: 10px;')
    Hide Company Information
.col-sm-9
  = render partial: 'companies/company_info',
            locals: {company: @company,
                     admin_aa: @admin_aa,
                     company_admins: @company_admins}

-# .col-sm-12
-#   %h3 Tasks that need your attention
-#   = render partial: 'tasks/tasks_structure' , :locals => {task_type: @task_type}

.col-sm-12
  %div.panel.with-nav-tabs.panel-primary
    .panel-heading
      %ul.nav.nav-tabs.nav-justified(role="tablist")
        - if @company_person.is_company_admin?(@company)
          %li(role="presentation")
            %a(href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab")
              Unassigned Company Tasks
        %li.active(role="presentation")
          %a(href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab")
            Your Open Tasks
        - if @company_person.is_company_admin?(@company)
          %li(role="presentation")
            %a(href="#tab3" aria-controls="tab3" role="tab" data-toggle="tab")
              All Company Open Tasks
        %li(role="presentation")
          %a(href="#tab4" aria-controls="tab4" role="tab" data-toggle="tab")
            - if @company_person.is_company_admin?(@company)
              All Company Closed Tasks
            - else
              Your Closed Tasks

    .panel-body
      .tab-content
        - if @company_person.is_company_admin?(@company)
          .tab-pane#tab1(role="tabpanel")
            = render partial: 'tasks/tasks_structure' , :locals => {task_type: @company_new}
        .tab-pane.active#tab2(role="tabpanel")
          = render partial: 'tasks/tasks_structure' , :locals => {task_type: @task_type}
        - if @company_person.is_company_admin?(@company)
          .tab-pane#tab3(role="tabpanel")
            = render partial: 'tasks/tasks_structure' , :locals => {task_type: @company_all}
        .tab-pane#tab4(role="tabpanel")
          = render partial: 'tasks/tasks_structure' , :locals => {task_type: @company_closed}

.col-sm-12
  %h3 All #{@company.name} jobs
  .pagination-div{id: "jobs-#{@job_type}",
                  data: {url: list_jobs_path(@job_type)}}

.col-sm-9
  %h3 All #{@company.name} people who are on PETS
- if @company_person.is_company_admin? @company
  .col-sm-3{style: 'margin-top: 20px;'}
    = link_to 'Invite Colleague',
                  new_user_invitation_path(person_type: 'CompanyPerson',
                  org_id: pets_user.company.id),
                  method: :get, class: 'btn btn-primary btn-sm pull-right'

.col-sm-12
  .pagination-div{id: "people-#{@people_type}",
                  data: {url: list_people_company_path(@company.id, @people_type)}}
