%h2
  = "Welcome back to PETS, #{pets_user.full_name}"
  = link_to edit_profile_company_person_path(pets_user),
    :title => 'Edit profile',
    :id => 'edit-profile' do
    %i.fa.fa-pencil-square-o.fa-1

%h3 Tasks that need your attention
= render partial: 'tasks/tasks_structure' , :locals => {task_type: @task_type}


%h3 All #{@company.name} jobs
.pagination-div{id: "jobs-#{@job_type}",
                data: {url: list_jobs_path(@job_type)}}

%h3 All #{@company.name} people who are on PETS
.pagination-div{id: "people-#{@people_type}",
                data: {url: list_company_people_path(@company.id, @people_type)}}

= link_to 'Invite Colleague',
              new_user_invitation_path(person_type: 'CompanyPerson',
              org_id: pets_user.company.id),
              method: :get, class: 'btn btn-primary'
