- provide(:person_home_active, 'active')

.row
  .col-sm-10.col-sm-offset-1
    %h2
      = "Welcome back to PETS, #{pets_user.full_name(last_name_first: false)}"

.row
  .col-sm-10.col-sm-offset-1.tasks
    %div.panel.with-nav-tabs.panel-success
      .panel-heading
        %ul.nav.nav-tabs
          - if @company_person.is_company_admin?(@company)
            %li
              %a(href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab")
                Unassigned Company Tasks
          %li.active.in
            %a(data-target=".tasks #tab2" aria-controls="tab2" role="tab" data-toggle="tab")
              Your Open Tasks
          - if @company_person.is_company_admin?(@company)
            %li
              %a(href="#tab3" aria-controls="tab3" role="tab" data-toggle="tab")
                All Company Open Tasks
          %li
            %a(href="#tab4" aria-controls="tab4" role="tab" data-toggle="tab")
              - if @company_person.is_company_admin?(@company)
                All Company Closed Tasks
              - else
                Your Closed Tasks

    .panel-body
      .tab-content
        - if @company_person.is_company_admin?(@company)
          .tab-pane#tab1(role="tabpanel")
            = render partial: 'tasks/tasks_structure' , :locals => {task_type: @company_new}
        .tab-pane.active#tab2(role="tabpanel")
          = render partial: 'tasks/tasks_structure' , :locals => {task_type: @task_type}
        - if @company_person.is_company_admin?(@company)
          .tab-pane#tab3(role="tabpanel")
            = render partial: 'tasks/tasks_structure' , :locals => {task_type: @company_all}
        .tab-pane#tab4(role="tabpanel")
          = render partial: 'tasks/tasks_structure' , :locals => {task_type: @company_closed}
      .clearfix

.row
  .col-sm-10.col-sm-offset-1.company-people-home
    %ul.nav.nav-pills.custom-pills
      %li.active
        %a{ data: { target: '.company-people-home #all-jobs-pane', toggle: 'pill' }, href: '#' }
          All #{@company.name} jobs
      %li
        %a{ data: { target: '#all-on-pets-pane', toggle: 'pill' }, href: '#' }
          All #{@company.name} people who are on PETS
      %li
        %a{ data: { target: '#company-infomation-pane', toggle: 'pill' }, href: '#' }
          Company Infomation

    .tab-content
      .tab-pane.fade.in.active#all-jobs-pane
        .col-xs-12
          .pagination-div{id: "jobs-#{@job_type}",
                          data: {url: list_jobs_path(@job_type)}}
      .tab-pane.fade#all-on-pets-pane
        .col-xs-12
          - if @company_person.is_company_admin? @company
            .col-xs-12{style: 'text-align: right;'}
              = link_to 'Invite Colleague',
                         new_user_invitation_path(person_type: 'CompanyPerson',
                         org_id: pets_user.company.id),
                         method: :get, class: 'btn btn-primary btn-sm pull-right'
        .col-xs-12
          .pagination-div{id: "people-#{@people_type}",
                          data: {url: list_people_company_path(@company.id, @people_type)}}
      .tab-pane.fade#company-infomation-pane
        .clearfix
          .col-xs-12
          - if @admin_ca
            .col-sm-3.col-sm-offset-9{style: 'margin-top: 20px;'}
              = link_to 'Edit Company Info',
                        edit_company_path(id: @company.id),
                        method: :get, class: 'btn btn-primary btn-sm pull-right'
          .col-xs-12
            = render partial: 'companies/company_info',
                     locals: {company: @company,
                              admin_aa: @admin_aa,
                              company_admins: @company_admins}
