- provide(:person_home_active, 'active')

.row
  .col-sm-10.col-sm-offset-1.tasks.margin-top
    .panel.with-nav-tabs.panel-success.company-person-task-tabs
      .panel-heading
        %ul.nav.nav-tabs
          - if @company_person.is_company_admin?(@company)
            %li
              %a{ href:'tab1', data: { target: '.tasks #tab1', toggle: 'pill' } }
                Unassigned Tasks
          %li.active.in
            %a{ href: '#tab2', data: { target: '.tasks #tab2', toggle: 'pill' } }
              Your Open Tasks
          - if @company_person.is_company_admin?(@company)
            %li
              %a{ href:'tab3', data: { target: '.tasks #tab3', toggle: 'pill' } }
                All Open Tasks
          %li
            %a{ href:'tab4', data: { target: '.tasks #tab4', toggle: 'pill' } }
              - if @company_person.is_company_admin?(@company)
                All Closed Tasks
              - else
                Your Closed Tasks
      .panel-body
        .tab-content
          - if @company_person.is_company_admin?(@company)
            .tab-pane#tab1
              = render partial: 'tasks/tasks_structure',
                       :locals => {task_type: @company_new}
          .tab-pane.active#tab2
            = render partial: 'tasks/tasks_structure',
                       :locals => {task_type: @task_type}
          - if @company_person.is_company_admin?(@company)
            .tab-pane#tab3
              = render partial: 'tasks/tasks_structure',
                       :locals => {task_type: @company_all}
          .tab-pane#tab4
            = render partial: 'tasks/tasks_structure',
                       :locals => {task_type: @company_closed}
      .clearfix
.row
  .col-sm-10.col-sm-offset-1.company-people-home
    %ul.nav.nav-pills.custom-pills
      %li.active
        %a{ data: { toggle: 'pill'}, href: '#all-jobs-pane' }
          All #{@company.name} jobs
      %li
        %a{ data: { toggle: 'pill'}, href: '#all-on-pets-pane' }
          All #{@company.name} people who are on PETS
      %li
        %a{ data: { toggle: 'pill'}, href: '#company-infomation-pane' }
          Company Information
      %li
        %a{ data: { toggle: 'pill'}, href: '#job-skills-pane' }
          Job Skills
      %li
        %a{ data: { toggle: 'pill'}, href: '#licenses-pane' }
          Licenses

    .tab-content.tab-content-margin
      .tab-pane.fade.in.active#all-jobs-pane
        = link_to 'Post Job',                                                 |
                  new_job_path(company_id: @company_person.company.id,        |
                               company_person_id: @company_person.id),        |
                               class: 'table_action_button btn btn-primary' + |
                                      ' btn-sm pull-right'                    |
        .clearfix

        .pagination-div{ id: "jobs-#{@job_type}",
                         data: { url: list_jobs_path(@job_type) } }

      .tab-pane.fade#all-on-pets-pane
        - if @company_person.is_company_admin? @company
          = link_to 'Invite Colleague',
                     new_user_invitation_path(person_type: 'CompanyPerson',
                     org_id: pets_user.company.id),
                     method: :get,
                     class: 'table_action_button btn btn-primary btn-sm pull-right'

          .clearfix

        .pagination-div{ id: "people-#{@people_type}",
                         data: { url: list_people_company_path(@company.id) } }

      .tab-pane.fade#company-infomation-pane
        - if @admin_ca
          = link_to 'Edit Company Info',
                    edit_company_path(id: @company.id),
                    method: :get,
                    class: 'table_action_button btn btn-primary btn-sm pull-right'
          .clearfix
        = render partial: 'companies/company_info',
                 locals: { company: @company,
                           admin_aa: @admin_aa,
                           company_admins: @company_admins }

      .tab-pane.fade#job-skills-pane
        %button.btn.btn-primary.btn-sm.table_action_button.pull-right#add-job-skill-modal-btn{ data: { toggle: 'modal', target: '#add_skill' } }
          Add job skill
        .clearfix

        .col-xs-12.pad-0
        - if @skills.empty?
          %h5 There are no job skills.
        - else
          = render partial: 'shared/job_skills', object: @skills,
                    locals: { data_type:  'skills',
                              partial_id: 'skills_table',
                              show_property_path:   :skill_path,
                              delete_property_path: :skill_path }

      .tab-pane.fade#licenses-pane
        %button.btn.btn-primary.btn-sm.table_action_button.pull-right#add-license-modal-btn{ data: { toggle: 'modal', target: '#add_license' } }
          Add License
        .clearfix

        .col-xs-12.pad-0
        - if @licenses.empty?
          %h5 There are no licenses defined.
        - else
          = render partial: 'shared/licenses', object: @licenses,
                    locals: { data_type:  'licenses',
                              partial_id: 'licenses_table',
                              show_property_path:   :license_path,
                              delete_property_path: :license_path }

= render partial: 'shared/property_modal',
          locals: { modal_id:     'add_skill',
                    modal_title:  "Add Job Skill for #{@company.name}",
                    modal_submit: 'Add Skill',
                    company_id:   @company.id,
                    attr1_label:  'Name:',
                    attr2_label:  'Description:',
                    user_type:    'company_person' }

= render partial: 'shared/property_modal',
          locals: { modal_id:     'update_skill',
                    modal_title:  "Update Job Skill for #{@company.name}",
                    modal_submit: 'Update Skill',
                    company_id:    @company.id,
                    attr1_label:  'Name:',
                    attr2_label:  'Description:',
                    user_type:    'company_person' }

= render partial: 'shared/property_modal',
          locals: { modal_id:     'add_license',
                    modal_title:  'Add License',
                    modal_submit: 'Add License',
                    company_id:    @company.id,
                    attr1_label:   'Abbreviation:',
                    attr2_label:   'Title:',
                    user_type:    'company_person' }

= render partial: 'shared/property_modal',
          locals: { modal_id:     'update_license',
                    modal_title:  'Update License',
                    modal_submit: 'Update License',
                    company_id:    @company.id,
                    attr1_label:   'Abbreviation:',
                    attr2_label:   'Title:',
                    user_type:    'company_person' }
