%div.row
  %div.col-md-4
    %h1.my-profile-header Your Profile
    %h4
      %strong First Name:
      = @company_person.first_name
    %h4
      %strong Surname:
      = @company_person.last_name
    %h4
      %strong Email:
      = @company_person.email
    %h4
      %strong Phone:
      = @company_person.phone
    = link_to "Edit", edit_profile_company_person_path(@company_person), class: "btn btn-lg edit-profile-btn"