-# This partial is used for editing multiple addresses within a parent
-# form (see documentation for gem 'cocoon')
.nested-fields
  .form-group
    .col-sm-1.control-label
      = f.label :street, 'Street:', class: 'job-skill-label'
    .col-sm-4
      = f.text_field :street, size: 30, class: 'form-control'
    .col-sm-1.control-label
      = f.label :city, 'City:', class: 'job-skill-label'
    .col-sm-4
      = f.text_field :city, size: 30, class: 'form-control'
  .form-group
    .col-sm-1.control-label
      = f.label :state, 'State:', class: 'job-skill-label'
    .col-sm-4
      = f.collection_select(:state, Address.states_full_name,
               :to_s, :to_s, {include_blank: true}, class: 'form-control')
    .col-sm-1.control-label
      = f.label :zipcode, 'Zipcode:', class: 'job-skill-label'
    .col-sm-4
      = f.text_field :zipcode, size: 10, class: 'form-control'
    .col-sm-1(style='margin-top: -4px;')
      = link_to_remove_association 'remove address', f
