%p
  Hello #{@agency_person.first_name} #{@agency_person.last_name},
%p
  - if @obj_type == 'Job Seeker'
    A new job seeker has joined PETS:
    = link_to @obj_name, job_seeker_path(id: @obj_id)
  - else
    A company has requested registration in PETS:
    = link_to @obj_name, company_path(id: @obj_id)
%p
  If you have any questions please contact the PETS administrator at:
  = mail_to("#{ENV['SMTP_USERNAME']}", 'PETS Admin',
         subject: "New #{@obj_type}: #{@obj_name}")
