.container
  .row
    .col-md-12
      .row
        .col-md-5
          Task
        .col-md-3
          State
        .col-md-3
          Last change date
        .col-md-1
          Options
  = @tasks.each do |task|
    .row
      .col-md-12
        .row
          .col-md-5
            = task.description
          .col-md-3
            - if task.status == Task::STATUS[:NEW]
              = task.status
            - else
              = "#{task.status}("
              = link_to( task.task_owner.full_name, show_person_path(task.task_owner))
              )
          .col-md-3
            = task.updated_at
          .col-md-1
            - if task.status == Task::STATUS[:NEW]
              = link_to '#', :title => 'Assign task', class: 'assign_button' ,data: {'task-id': task.id, toggle: 'modal', target: "#assignTaskModal"} do
                %i.fa-male.fa-1
            - elsif task.status == Task::STATUS[:ASSIGNED]
              = link_to root_path, :title => 'Start working on task' do
                %i.fa-hourglass-start.fa-1
            - elsif task.status == Task::STATUS[:WIP]
              = link_to root_path, :title => 'Work complete' do
                %i.fa-flag-checkered.fa-1


%div{id: 'assignTaskModal', class: 'modal fade'}
  .modal-dialog(role='document')
    %form{ :action => "#", :method => "patch" }
      .modal-content
        .modal-header
          %button(type='button' class='close' data-dismiss='modal')
            %span(aria-hidden='true') &times;
          %h4.modal-title
            Assign user
        .modal-body
          .form-group
            %label(for="assignTaskModal_name" class='control-label')
              Select the user to assign the task to:
            .row
              .col-md-4
                %select{:id => 'task_assign_select', :style => 'width: 100%;'}
        .modal-footer
          %button(type='button' class='btn btn-default'
          data-dismiss='modal') Cancel
          %submit(type='button' class='btn btn-primary'
            id='assignTaskModal_button')
            Assign