= @tasks.each do |task|
  .row
    .col-md-12
      .row
        .col-md-5
          = task.description
        .col-md-3
          - if task.status == Task::STATUS[:NEW]
            = task.status
          - else
            = "#{task.status}("
            = link_to( task.task_owner.full_name, show_person_path(task.task_owner))
            )
        .col-md-3
          = task.updated_at
        .col-md-1
          - if task.status == Task::STATUS[:NEW]
            = link_to '#', :title => 'Assign task', class: 'assign_button' ,data: {'task-id': task.id, toggle: 'modal', target: "#assignTaskModal"} do
              %i.fa.fa-male.fa-1
          - elsif task.status == Task::STATUS[:ASSIGNED]
            = link_to '#', :title => 'Start working on task', class: 'wip_button', data:{'url': in_progress_task_path(task)} do
              %i.fa.fa-hourglass-start.fa-1
          - elsif task.status == Task::STATUS[:WIP]
            = link_to '#', :title => 'Work complete', class: 'wip_button', data:{'url': done_task_path(task)} do
              %i.fa.fa-flag-checkered.fa-1
= will_paginate @tasks, param_name: 'tasks_page', :params => {:controller => 'task', :action => 'tasks', :task_type => @task_type}
