- preview_mode = false unless defined? preview_mode
%table.table.table-hover#info_table(style='margin-top: 20px;')
  %tbody
    %tr
      %td
        %strong Name
      %td
        = job_seeker.full_name(last_name_first: false)
    %tr
      %td
        %strong Email
      %td
        = mail_to job_seeker.email
    %tr
      %td
        %strong Phone
      %td
        = job_seeker.phone
    %tr
      %td
        %strong Address
      %td
        = single_line_address(job_seeker.address)
    %tr
      %td
        %strong Résumé
      %td
        - if job_seeker.resumes.empty?
          %i No résumé on file
        - else
          - resume = job_seeker.resumes[0]
          = resume.file_name
          &nbsp; &nbsp (updated #{time_ago_in_words(resume.created_at)} ago)
        = button_to "Download Resume", download_resume_path(@job_application),
          method: :get, class: 'btn btn-success btn-xs pull-right'

    %tr
      %td
        %strong Case Manager
      %td
        #assigned_case_manager
          = render :partial => 'job_seekers/assigned_agency_person',
                        :locals => {person: pets_user,
                                    job_seeker: job_seeker,
                                    agency_role: 'CM',
                                    preview_mode: preview_mode}
    %tr
      %td
        %strong Job Developer
      %td
        #assigned_job_developer
          = render :partial => 'job_seekers/assigned_agency_person',
                        :locals => {person: pets_user,
                                    job_seeker: job_seeker,
                                    agency_role: 'JD',
                                    preview_mode: preview_mode}

    - if pets_user.is_agency_person? current_agency
      %tr
        %td
          %strong Status
        %td
          = job_seeker.status.short_description
      %tr
        %td
          %strong Last Login
        %td
          - unless job_seeker.last_sign_in_at.nil?
            = job_seeker.last_sign_in_at.strftime('%x')
