%table.table.table-hover#info_table(style='margin-top: 20px;')
  %tbody
    %tr
      %td
        %strong Name
      %td
        = job_seeker.full_name(last_name_first: false)
    %tr
      %td
        %strong Email
      %td
        = job_seeker.email
    %tr
      %td
        %strong Phone
      %td
        = job_seeker.phone
    %tr
      %td
        %strong Address
      %td
        = single_line_address(job_seeker.address)
    %tr
      %td
        %strong Status
      %td
        = job_seeker.status.short_description
    %tr
      %td
        %strong Résumé
      %td
        - if job_seeker.resumes.empty?
          %i No résumé on file
        - else
          - resume = job_seeker.resumes[0]
          = resume.file_name
          &nbsp; &nbsp (updated #{time_ago_in_words(resume.created_at)} ago)
    %tr
      %td
        %strong Last Login
      %td
        - unless job_seeker.last_sign_in_at.nil?
          = job_seeker.last_sign_in_at.strftime('%x')
    %tr
      %td
        %strong Case Manager
      %td
        - if job_seeker.case_manager.nil?
          %i None assigned
        - else
          = job_seeker.case_manager.full_name(last_name_first: false)
    %tr
      %td
        %strong Job Developer
      %td
        - if job_seeker.job_developer.nil?
          %i None assigned
        - else
          = job_seeker.job_developer.full_name(last_name_first: false)
