%div{:class => 'container'}
	%div{class: 'div_align_left', id: 'bold_text'}
		%br
		First Name:
		%br
		Last Name:
		%br
		Email:
		%br
		Phone:
		%br
		Year of Birth:
		%br
		Status:
	%div{class: 'div_align_right'}
		%br
		= @jobseeker.first_name
		%br
		= @jobseeker.last_name
		%br
		= @jobseeker.email
		%br
		= @jobseeker.phone
		%br
		= @jobseeker.year_of_birth
		%br
		= @jobseeker.job_seeker_status_id


%br
%div{class: 'row'}

	.col-sm-2
	= button_to 'Delete JobSeeker', job_seeker_path(@jobseeker), method: :delete, | 
      		data: {confirm: " Are you Sure You want delete the jobseeker?"}, class: 'btn btn-danger'   |


%br
%br
%div{class: 'row'}

	.col-sm-2
	= link_to  'Cancel', root_path, class: 'btn btn_danger'




