.col-sm-3
  %h3
    Job Seeker
  %a(id='toggle_info' href='#info_table' class='text-danger'
              style='padding-left: 10px;')
    Hide Job Seeker Information
  - if policy(@jobseeker).edit?
    = button_to 'Edit Job Seeker', edit_job_seeker_path(@jobseeker),
      method: :get, class: 'btn btn-xs  btn-primary',
      style: 'margin-left: 10px; margin-top: 10px;'
  - if policy(@jobseeker).destroy?
    = button_to 'Delete Job Seeker', job_seeker_path(@jobseeker),
        method: :delete,
        data: { confirm: "Delete Jobseeker #{@jobseeker.full_name}?" },
        class: 'btn btn-xs  btn-danger', style: 'float: left; margin-left: 10px; margin-top: 10px;'

.col-sm-9
  = render partial: 'info', locals: { job_seeker: @jobseeker,
                                      offer_download: false }

- if policy(@jobseeker).show?
  .col-sm-12
    %h3
      Job Applications for
      = "#{@jobseeker.full_name(last_name_first: false)}"
    .pagination-div{id: "applications-#{@application_type}",
                    data: { url: list_applications_path(@application_type, @jobseeker) } }
