.row
  .col-sm-3
    %h3
      Job Seeker
    %a(id='toggle_info' href='#info_table' class='text-danger'
                style='padding-left: 10px;')
      Hide Job Seeker Information

  .col-sm-9
    = render partial: 'info', locals: {job_seeker: @jobseeker}

%h3
  Job Applications for
  = "#{@jobseeker.full_name(last_name_first: false)}"
.pagination-div{id: "applications-#{@application_type}",
                data: {url: applied_jobs_job_seeker_path(@application_type)}}

%br
%br
%div{class: 'row'}
  .col-sm-2
  = button_to 'Delete Jobseeker', job_seeker_path(@jobseeker), method: :delete,            |
      data: {confirm: "Delete Jobseeker #{@jobseeker.first_name}?"}, class: 'btn btn-danger'   |
%br
  .col-sm-2
  =link_to 'Cancel',root_path, class: 'btn btn-link'
