#job_categories_table
  %table.table.table-hover
    %thead
      %tr
        %td
          %strong Name
        %td
          %strong Description
        %td
          %strong Delete
    %tbody
      - @job_categories.each do |jobcat|
        %tr
          %td
            = link_to "#{jobcat.name}", edit_job_category_path(jobcat)
          %td
            = jobcat.description
          %td
            = link_to job_category_path(jobcat), method: :delete do
              %span.glyphicon.glyphicon-remove

  = will_paginate @job_categories, param_name: 'job_categories_page', |
                     params: {data_type: 'job_categories'}      |
