%div{id: "#{modal_id}", class: 'modal fade'}
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        %button(type='button' class='close' data-dismiss='modal')
          %span(aria-hidden='true') &times;
        %h4.modal-title
          = modal_title
      .modal-body
        %div{id: "#{modal_id}_errors"}
        .form-group
          %label(for="#{modal_id}_name" class='control-label')
            Name:
          %textarea(class='form-control' id="#{modal_id}_name" rows='1')
        .form-group
          %label(for="#{modal_id}_desc" class='control-label')
            Description:
          %textarea(class='form-control' id="#{modal_id}_desc")
        - if /job_category/ =~ modal_id
          .form-group
            .col-sm-6.panel.panel-primary
              .panel-heading
                Skills for this job category
              .panel-body.fixed-panel.droppable.sortable{id: "#{modal_id}_skills"}
            .col-sm-6.panel.panel-primary
              .panel-heading
                All Skills
              .panel-body.fixed-panel.droppable
                - Skill.order(:name).each do |skill|
                  .draggable.ui-widget-content{id: "#{modal_id}_skill_#{skill.id}"}
                    = skill.name

      .modal-footer
        %button(type='button' class='btn btn-default'
                                 data-dismiss='modal') Cancel
        %button(type='button' class='btn btn-primary'
                id="#{modal_id}_button")
          = modal_submit
