%h2 PETS Administration
%h3 Agency Information
%div{:class => 'container'}
  %div{class: 'div_align_left', id: 'bold_text'}
    Name:
    %br
    Manager:
    %br
    Website:
    %br
    Phone:
    %br
    Fax:
    %br
    Email:
    %br
    Description:
  %div{class: 'div_align_right'}
    = @agency.name
    %br
    = "#{@agency_manager.first_name} #{@agency_manager.last_name}"
    %br
    = @agency.website
    %br
    = @agency.phone
    %br
    = @agency.fax
    %br
    = @agency.email
    %br
    = truncate(@agency.description, length: 300)
  
%h3 Agency Branches

%div{:class => 'row'}
  %div{:class => 'panel panel-default'}
    %table{:class => 'table table-bordered', 'data-card-view' => 'true', 'data-height' => '299' }
      %thead
        %tr
          %td
            City
          %td
            Street
          %td
            Zipcode
      %tbody
        - @agency.addresses.each do |address|
          %tr
            %td
              = address.city
            %td
              = address.street
            %td
              = address.zipcode
                  
%h3 Agency Personnel

%div{:class => 'row'}
  %div{:class => 'panel panel-default'}
    %table{:class => 'table table-bordered', 'data-card-view' => 'true', 'data-height' => '299' }
      %thead
        %tr
          %td
            First Name
          %td
            Last Name
          %td
            Role(s)
      %tbody
        - @agency.agency_people.each do |person|
          %tr
            %td
              = person.first_name
            %td
              = person.last_name
            %td
              = person.agency_roles.pluck(:role).join(', ')
