- provide(:agency_admin_active, 'active')

.row
  .col-sm-10.col-sm-offset-1
    %h3 PETS Administration - Branches, People, Companies

.row
  .col-sm-10.col-sm-offset-1.agency-admin-container
    %ul.nav.nav-pills
      %li.active
        %a{ data: { toggle: 'pill' }, href: '#agency_table' }Agency Information
      %li
        %a{ data: { toggle: 'pill' }, href: '#branches_table' }Agency Branches
      %li
        %a{ data: { toggle: 'pill' }, href: '#people_table' }Agency Personnel
      %li
        %a{ data: { toggle: 'pill' }, href: '#companies_table' }Companies

    .tab-content
      .tab-pane.fade.in.active#agency_table
        .col-xs-12.text-right
          = button_to 'Edit Agency', edit_agency_path(@agency), method: :get,
            class: 'btn btn-primary'
        .col-xs-12.pad-0
          = render partial: 'agencies/agency', object: @agency
          -# .clearfix

      .tab-pane.fade#branches_table
        .col-xs-12.text-right
          = button_to 'Add Branch', new_agency_branch_path(@agency.id),
            method: :get, class: 'btn btn-primary'
        .col-xs-12.pad-0
          - if @branches.empty?
            %h5 There are no branches.
          - else
            = render 'branches/branches'
        .clearfix

      .tab-pane.fade#people_table
        .col-xs-12.text-right
          = link_to 'Invite Person',
            new_user_invitation_path(person_type: 'AgencyPerson',
            org_id: @agency.id),
            method: :get, class: 'btn btn-primary btn-sm pull-right'
          - if @agency_people.empty?
            %h5 There are no agency people.
          - else
            = render 'agency_people/agency_people'
        .clearfix

      .tab-pane.fade#companies_table
        .col-xs-12.pad-0
          - if @companies.empty?
            %h5 There are no companies.
          - else
            = render 'companies/companies'
