%h2 PETS Administration

= render partial: 'agencies/agency', object: @agency
    
%div{:class => 'container'}
  %br
  Agency Admins:
  - @agency_admins.each do |aa|
    = aa.full_name(last_name_first: false)
    = ', ' if aa != @agency_admins.last

  .col-sm-2.col-sm-offset-8
    = button_to 'Edit Agency', edit_agency_path(@agency), |
          method: :get, class: 'btn btn-primary'          |

- if @agency.branches.empty? 
  There are no branches
- else
  = render partial: 'branches/branches', object: @agency.branches 
  
%div{:class => 'container'}
  .col-sm-2.col-sm-offset-8
    = button_to 'Add Branch', new_agency_branch_path(@agency.id), |
          method: :get, class: 'btn btn-primary'                   |


- if @agency.agency_people.empty? 
  There are no people
- else
  = render partial: 'agency_people/agency_people', object: @agency.agency_people 
  
%div{:class => 'container'}
  .col-sm-2.col-sm-offset-8
    = button_to 'Invite Person', new_user_invitation_path(@agency.id), |
          method: :get, class: 'btn btn-primary'                   |
