%h3 PETS Administration - Job Properties

.row
  .col-sm-3
    %h4 Job Specialties

  - if @job_categories.empty?
    .col-sm-3
      %h5 There are no job specialties.
  - else
    .col-sm-9
      = render partial: 'job_specialties', object: @job_categories,
                locals: {data_type:  'job_categories',
                         partial_id: 'job_categories_table',
                         show_property_path:   :job_category_path,
                         delete_property_path: :job_category_path}
    .clearfix
    .col-sm-3.col-sm-offset-3
      %a(id='toggle_job_categories' href='#job_categories_table' class='text-danger')
        Hide Job Specialties

  .col-sm-3.col-sm-offset-3.table_action_button
    - text_modal_button 'Add Job Specialty', 'add_job_category',
                        'btn btn-primary btn-sm pull-right'

.row
  .col-sm-3
    %h4 Job Skills

  - if @skills.empty?
    .col-sm-3
      %h5 There are no job skills.
  - else
    .col-sm-9
      = render partial: 'job_skills', object: @skills,
                locals: {data_type:  'skills',
                         partial_id: 'skills_table',
                         show_property_path:   :skill_path,
                         delete_property_path: :skill_path}
    .clearfix
    .col-sm-3.col-sm-offset-3
      %a(id='toggle_skills' href='#skills_table' class='text-danger')
        Hide Job Skills

  .col-sm-3.col-sm-offset-3.table_action_button
    - text_modal_button 'Add Job Skill', 'add_skill',
                        'btn btn-primary btn-sm pull-right'

= render partial: 'property_modal',
          locals: {modal_id:     'add_job_category',
                   modal_title:  'Add Job Specialty',
                   modal_submit: 'Add Specialty'}

= render partial: 'property_modal',
          locals: {modal_id:     'update_job_category',
                   modal_title:  'Update Job Specialty',
                   modal_submit: 'Update Specialty'}

= render partial: 'property_modal',
          locals: {modal_id:     'add_skill',
                   modal_title:  'Add Job Skill',
                   modal_submit: 'Add Skill'}

= render partial: 'property_modal',
          locals: {modal_id:     'update_skill',
                   modal_title:  'Update Job Skill',
                   modal_submit: 'Update Skill'}
