.modal.fade#applyJobModal{ "aria-labelledby" => "myModalLabel", role: "dialog",
tabindex: "-1" }
  .modal-dialog{ role: "document" }

    .modal-content#job-apply-modal-id

      .modal-header

        %button.close{ "aria-label" => "Close", "data-dismiss" => "modal",
        type: "button" }
          %span{ "aria-hidden" => "true" } ×
        %h4.modal-title.text-center#myModalLabel
          Job Application

      .modal-body

        .row
          .col-sm-12
            %label Company:
            = link_to job.company.name, company_home_path(job.company)
        .row
          .col-sm-12
            %label Job Title:
            #{job.title}
          %br
          %br
        .row
          .col-sm-2.warning-text
            Note:
          .col-sm-10
            This application will send the résumé that you have saved
            in your profile to the employer.
            -# %p
            If you want to make changes to your résumé please go to your
            = link_to "profile page", edit_job_seeker_path(pets_user)
            and update the information before applying.

      .modal-footer

        - job_questions = job.questions

        = form_for job, url: apply_job_path(job, pets_user), method: :get do |f|

          -# = link_to "Apply Now", apply_job_path(job, pets_user), method: :get,
          -#   class: "btn btn-info", id: "modal-apply-id"

          - job_questions.each do |question|

            - q_name = "questions[#{question.id.to_s}]"

            .radio-inline
              %label
                = question.question_text
            .radio-inline
              %label
                = radio_button_tag(q_name, true, false, class: 'job-question-rb')
                Yes
            .radio-inline
              %label
                = radio_button_tag(q_name, false, false, class: 'job-question-rb')
                No
          %hr
          = f.submit "Apply Now",
                     class: "btn btn-primary", id: "modal-apply-id",
                     disabled: (job_questions.any? ? true : false)

          %button.btn.btn-default{ "data-dismiss" => "modal",
            type: "button" } Close
