-# partial for job applications
-# (e.g. all applications by a specific job seeker)
- if job_applications.empty?
  %span(style='padding-left: 10px;') None
- else
  %table.table.table-hover
    %thead
      %tr
        - application_fields(application_type).each do |field|
          - case field
            - when :title
              %th.strong Title
            - when :description
              %th.strong Description
            - when :company
              %th.strong Company
            - when :applied_at
              %th.strong Applied
            - when :status
              %th.strong Status
    %tbody
      - job_applications.each do |job_application|
        %tr{id: "applications-#{job_application.id}"}
          - application_fields(application_type).each do |field|
            - case field
              - when :title
                %td
                  = link_to job_application.job.title,
                            job_path(job_application.job)
              - when :description
                %td
                  = truncate(job_application.job.description, length: 200)
              - when :company
                %td
                  = job_application.job.company.name
              - when :applied_at
                %td
                  - applied_at = job_application.status_change_time(:active)
                  = "#{time_ago_in_words(applied_at)} ago"
              - when :status
                %td
                  = status_desc(job_application)

  = will_paginate job_applications, param_name: 'applications_page',
                               params: {controller: 'job_seekers',
                                        action: 'applied_jobs',
                                        application_type: application_type}
