.col-sm-offset-3.col-sm-6
  = render 'shared/error_messages', object: f.object
.clearfix
.form-group
  .col-sm-3.control-label
    = f.label :title
  .col-sm-6
    = f.text_field :title, class: 'form-control'

- unless pets_user.is_a?(CompanyPerson)
  .form-group
    .col-sm-3.control-label
      = f.label  :company_id, 'Company Name'
    .col-sm-6
      = f.collection_select :company_id, companies, :id, :name,
                  { prompt: true }, { class: "form-control" }
.form-group
  .col-sm-3.control-label
    = f.label  :address_id, 'Job Location'
  .col-sm-6#address_select
    = f.collection_select :address_id, addresses, :id, :full_address,
                { prompt: true, include_blank: true }, class: 'form-control'

.form-group
  .col-sm-3.control-label
    = f.label :company_job_id, 'Company Job ID'
  .col-sm-6
    = f.text_field :company_job_id, class: 'form-control'

.form-group
  .col-sm-3.control-label
    = f.label :shift
  .col-sm-5
    = f.collection_select :shift, Job::SHIFT_OPTIONS, :to_s, :to_s,
            {prompt: true}, class: 'form-control'
  = f.check_box :fulltime
  = f.label :fulltime, class: 'control-label'
.form-group
  .col-sm-3.control-label
    = f.label :description
  .col-sm-6
    =f.text_area :description, size: "40x5", class: 'form-control'

.form-group
  .col-sm-3.control-label
    %b Job Skills
  .col-sm-9
    #job_skills
      = f.fields_for :job_skills do |job_skill|
        = render 'job_skill_fields', f: job_skill
      .links
        = link_to_add_association 'Add Job Skill', f, :job_skills
