.col-sm-offset-3.col-sm-6
  = render 'shared/error_messages', object: f.object
.clearfix
- if @cp_or_jd.is_a?(CompanyPerson)
  = f.hidden_field  :company_id
  = f.hidden_field  :company_person_id

.form-group
  .col-sm-3.control-label
    = f.label :title
  .col-sm-6
    = f.text_field :title, class: 'form-control'

-if @cp_or_jd.is_a?(AgencyPerson) && @cp_or_jd.is_job_developer?(pets_user.agency)
  .form-group
    .col-sm-3.control-label
      = f.label  :company_id, 'Company Name'
    .col-sm-6
      - companies = Company.order(:name)
      = f.collection_select :company_id, companies, :id, :name,
                  {prompt: true}, {class: "form-control"}
.form-group
  .col-sm-3.control-label
    = f.label  :address_id, 'Job Location'
  .col-sm-6#address_select
    - if @job.company
      - addresses = Address.where(location_type: 'Company',      |
                    location_id: @job.company.id).order(:state)  |
    - else
      - companies ||= Company.order(:name)
      - addresses = Address.where(location_type: 'Company',      |
                    location_id: companies.first).order(:state)  |
    = f.collection_select :address_id, addresses, :id, :full_address,
                {prompt: true, include_blank: true}, class: 'form-control'

.form-group
  .col-sm-3.control-label
    = f.label :company_job_id, 'Company Job ID'
  .col-sm-6
    = f.text_field :company_job_id, class: 'form-control'

.form-group
  .col-sm-3.control-label
    = f.label :shift
  .col-sm-5
    = f.collection_select :shift, Job::SHIFT_OPTIONS, :to_s, :to_s,
            {prompt: true}, class: 'form-control'
  = f.label :fulltime, class: 'control-label'
  = f.check_box :fulltime
.form-group
  .col-sm-3.control-label
    = f.label :description
  .col-sm-6
    =f.text_area :description, size: "40x5", class: 'form-control'

.form-group
  .col-sm-3
    %b Job Skills
  .col-sm-9
    #job_skills
      = f.fields_for :job_skills do |job_skill|
        = render 'job_skill_fields', f: job_skill
      .links
        = link_to_add_association 'Add Job Skill', f, :job_skills
