.col-sm-offset-3.col-sm-6
  = render 'shared/error_messages', object: f.object
.clearfix
.form-group
  .col-sm-3.control-label
    = f.label :title
  .col-sm-8
    = f.text_field :title, class: 'form-control'

.form-group
  .col-sm-3.control-label
    = f.label  :address_id, 'Job Location'
  .col-sm-8#address_select
    = f.collection_select :address_id, addresses, :id, :full_address,
                { prompt: true, include_blank: true }, class: 'form-control'

.form-group
  .col-sm-9.col-sm-offset-3
    #new_address_subform{ style: ('display: none;' unless address_has_data?(@job.new_address)) }
      = f.fields_for :new_address do |address_form|

        .form-group
          .col-sm-1.control-label
            = address_form.label :street, 'Street:',
              class: 'job-skill-label'
          .col-sm-4
            = address_form.text_field :street, size: 30,
                                      class: 'form-control new_address_field'
          .col-sm-1.control-label
            = address_form.label :city, 'City:', class: 'job-skill-label'
          .col-sm-4
            = address_form.text_field :city, size: 30,
                                      class: 'form-control new_address_field'

        .form-group
          .col-sm-1.control-label
            = address_form.label :state, 'State:', class: 'job-skill-label'
          .col-sm-4
            = address_form.collection_select(:state, Address.states_full_name,
                                             :to_s, :to_s, {include_blank: true},
                                             class: 'form-control new_address_field')
          .col-sm-1.control-label
            = address_form.label :zipcode, 'Zipcode:', class: 'job-skill-label'
          .col-sm-4
            = address_form.text_field :zipcode, size: 10,
                                      class: 'form-control new_address_field'

    -# = link_to 'Create new location', job_toggle_new_address_path,
    -#           remote: true, data: { params: 'show_fields=true' }

    %a(id='toggle_address_fields' href='#new_address_subform'
       class='btn btn-sm btn-warning')
      Create new location

.form-group
  .col-sm-3.control-label
    = f.label :company_job_id, 'Company Job ID'
  .col-sm-6
    = f.text_field :company_job_id, class: 'form-control'

.form-group
  .col-sm-3.control-label
    = f.label :years_of_experience, 'Years Of Experience'
  .col-sm-6
    = f.collection_select :years_of_experience, Job::YEARS_OF_EXPERIENCE_OPTIONS,
      :to_i, :to_i, {include_blank: true}, class: 'form-control'

.form-group
  .col-sm-3.control-label
    = f.label :description
  .col-sm-7
    =f.text_area :description, size: "40x5", class: 'form-control'

.form-group.form-inline
  .col-sm-3.control-label
    = f.label :job_type_ids, 'Job Types'
  .col-sm-5
    = f.collection_select :job_type_ids, JobType.all, :id, :job_type, {},
                          class: 'job-type-multiple', multiple: true
    %span &nbsp;
    = f.label :shift
    = f.collection_select :shift, Job::SHIFT_OPTIONS, :to_s, :to_s,
            {prompt: true}, class: 'form-control'

.form-group
  .col-sm-3.control-label
    %b Job Skills
  .col-sm-9
    #job_skills
      = f.fields_for :job_skills do |job_skill|
        = render 'job_skill_fields', f: job_skill, company: company
      .links
        = link_to_add_association 'Add Job Skill', f, :job_skills,
            render_options: { locals: { company: company } }
