-# partial for job applications for a specific job
- if @applications.empty?
  %span(style='padding-left: 10px;') None
- else
  %table.table.table-hover
    %thead
      %tr
        - application_fields(@application_type).each do |field|
          - case field
            - when :name
              %th.strong Name
            - when :js_status
              %th.strong Job Seeker Status
            - when :updated_at
              %th.strong Applied
            - when :action
              %th.strong Action
    %tbody
      - @applications.each do |job_application|
        %tr
          - application_fields(@application_type).each do |field|
            - case field
              - when :name
                %td
                  = link_to job_application.job_seeker.full_name,
                            application_path(job_application)
              - when :js_status
                %td
                  = job_application.job_seeker.job_seeker_status.short_description
              - when :updated_at
                %td
                  = "#{time_ago_in_words(job_application.updated_at, )} ago"
              - when :action
                %td
                  - if job_application.active?
                    = link_to "accept", accept_application_path(job_application), method: :patch, class: "btn btn-default", id: "#{job_application.id}-#{job_application.status}"
                  - else
                    = link_to "#{job_application.status}", accept_application_path(job_application), method: :patch, class: "btn btn-default disabled", id: "#{job_application.id}-#{job_application.status}"

  = will_paginate @applications, param_name: 'applications_page',
                               params: {controller: 'jobs',
                                        action: 'applications_list',
                                        id: @job.id,
                                        application_type: @application_type}
