.well.well-lg.col-sm-offset-2.col-sm-8{ id: "job-#{job.id}" }
  %h4
    = link_to job.title, job_path(job)
    - unless job.active?
      %span%span.label.label-info
        #{job.status.capitalize}
  %h5
    = job.company.name
  %small
    #{time_ago_in_words(job.created_at, )} ago
    
  - if job.active?
    - if policy(job).revoke? 
      %button.btn.btn-primary.btn-xs.pull-right.jobs-revoke-button{ type: "button", 
      data: { action: 'revoke', 
              job: { id: "#{job.id}", 
              title: "#{job.title}", 
              companyJobId: "#{job.company_job_id}" } } }revoke
    - if policy(job).update?
      = link_to "edit", edit_job_path(job), 
        class: "pull-right btn btn-primary btn-xs", id: "jobs-edit-link"