%div{:class => 'container'}
  %div{:class => 'row'}
    %div{class: 'col-xs-4 lead'}
<<<<<<< HEAD
      %h4{id: 'list_header'} List of job opportunities 
    %div{class: 'col-xs-8 lead text-right'} 
      %h5{id: 'hir_header'} Are you hiring?#{link_to " Become a hiring partner!", '#'}
=======
      %h4{id: 'list_header'} List of job opportunities
    %div{class: 'col-xs-8 lead text-right'}
      %h5{id: 'hir_header'} Are you hiring?#{link_to " Become a hiring partner!",   |
                        new_company_registration_path}                              |
>>>>>>> first draft company register/acceptance process
  %div{:class => 'row'}
    %div{:class => 'panel panel-default'}
      %table{:class => 'table table-bordered', 'data-card-view' => 'true', 'data-height' => '299' }
        %thead
          %tr{class: 'text-center'}
            %td
              Title
            %td
              Employer
            %td
              Description
            %td
              More information
        %tbody
          - list_jobs.each do |job|
            %tr
              %td
                = job.title
              %td
                = job.company.name
              %td
                = job.description
              %td
                - if user_signed_in?
                  Some information
                - else
                  You need to login for more information
    / placeholder for now 
    %br
    %div
      For employers...
    %br
    %br
    %div 
      For jobseekers...
