#jobs_table
- if jobs.empty?
  %i There are no jobs available
- else
  %table.table.table-hover
    %thead
      %tr
        %td
          %strong Title
        %td
          %strong Employer
        %td
          %strong Posted
        %td
          %strong Match Rating
    %tbody
      - jobs.each do |job|
        %tr
          %td
            = link_to "#{job.title}", job_path(job)
            %td
              = job.company.name
            %td
              = "#{time_ago_in_words(job.created_at, )} ago"
            %td
              - case job.id
              - when (1..4)
                %span.glyphicon.glyphicon-star
                .glyphicon.glyphicon-star
                .glyphicon.glyphicon-star
                .glyphicon.glyphicon-star
                .glyphicon.glyphicon-star
              - when (5..12)
                %span.glyphicon.glyphicon-star
                .glyphicon.glyphicon-star
                .glyphicon.glyphicon-star
                .glyphicon.glyphicon-star
              - else
                %span.glyphicon.glyphicon-star
                .glyphicon.glyphicon-star
                .glyphicon.glyphicon-star

  %div{class: "col-sm-offset-2 col-sm-8"}
    = will_paginate jobs, param_name: :matched_jobs_page
%br
