- provide(:title, "Edit #{@job.title}")

.page-header.text-center#edit-job-header
  %h2 Edit Job for #{@company.name}

= form_for @job do |f|
  .form-horizontal
    = render partial: 'form', locals: { f: f,
                                        company: @company,
                                        addresses: @addresses,
                                        all_licenses: @all_licenses,
                                        all_questions: @all_questions,
                                        all_education_levels: @all_education_levels }
    .form-group
      .col-sm-offset-3.col-sm-7
        = f.submit "Update", class: "btn btn-primary btn-block", id: "edit-job-submit"
.col-sm-offset-3.col-sm-6#edit-job-links-id
  = link_to "Cancel", :back
  |
  = link_to "Jobs", jobs_path
