-provide(:title, 'Jobs Search')

.row
	.col-sm-3
	%h2
		Search Jobs
	%a(id='toggle_search_form' href='#job_search_form' class='text-danger'
	                style='padding-left: 10px;')
		Show Search Form

#job_search_form
	= search_form_for @query, method: :get, url: list_search_jobs_path,
																				class: 'form-horizontal' do |f|

		.form-group
			= f.label :title_cont, class: 'control-label col-sm-3'
			.col-sm-6
				= f.search_field :title_cont, class: 'form-control'

		.form-group
			= f.label :description_cont, class: 'control-label col-sm-3'
			.col-sm-6
				= f.search_field :description_cont, class: 'form-control'

		.form-group
			= f.label :company_name_eq, 'Company', class: 'control-label col-sm-3'
			.col-sm-6
				= f.collection_select :company_id_eq, Company.order(:name), :id,
															:name, {include_blank: true},
															class: 'form-control'

		.form-group
			= f.label :shift_eq, 'Shift', class: 'control-label col-sm-3'
			.col-sm-6
				= f.collection_select :shift_eq, Job::SHIFT_OPTIONS, :to_s,
															:to_s, {include_blank: true},
															class: 'form-control'

		-# .form-group
		-# 	= f.label :fulltime_eq, 'Fulltime', class: 'control-label col-sm-3'
		-# 	.col-sm-6
		-# 		= f.check_box :fulltime, class: 'form-control'

		-# .form-group
		-# 	= f.label :address_state_eq, 'State', class: 'control-label col-sm-3'
		-# 	.col-sm-6
		-# 		= f.collection_select :address_state_eq,
		-# 				Job.joins(:address).order('addresses.state').pluck(:state).uniq,
		-# 				:to_s, :to_s,
		-# 				{include_blank: true}, {class: 'form-control'}

		-# .form-group
		-# 	= f.label :address_city_in, 'City', class: 'control-label col-sm-3'
		-# 	.col-sm-6
		-# 		= f.collection_select :address_city_in,
		-# 				Job.joins(:address).order('addresses.city').pluck(:city).uniq,
		-# 				:to_s, :to_s,
		-# 				{include_blank: true}, {multiple: true, class: 'form-control'}

		.form-group
			- states = Job.joins(:address).order('addresses.state').pluck(:state).uniq
			- states_and_cities = []
			- states.each do |state|
				- cities_in_state = Job.joins(:address).                  |
											where('addresses.state = ?', state).        |
											order('addresses.city').pluck(:city).uniq   |
				- states_and_cities << [state, cities_in_state]

			= f.label :address_city_in, 'City', class: 'control-label col-sm-3'
			.col-sm-6
				= f.grouped_collection_select :address_city_in, states_and_cities,
						:second, :first, :to_s, :to_s, {include_blank: true},
						{multiple: true, size: 10, class: 'form-control'}

		.form-group
			= f.label :skills_id_in, 'Skills', class: 'control-label col-sm-3'
			.col-sm-6
				= f.collection_select :skills_id_in, Skill.order(:name),
												:id, :name, {include_blank: true},
												{multiple: true, size: 10, class: 'form-control'}

		-# = f.submit
		.form-group
			.col-sm-3.col-sm-offset-3
				= submit_tag 'Search Jobs', class: 'btn btn-primary'

%hr

%table.table.table-hover
	%thead
		%tr
			%th
				= sort_link(@query, :title)
			%th
				= sort_link(@query, :description)
			%th
				= sort_link(@query, :company_name, 'Company')
			%th
				= sort_link(@query, :shift)
			-# %th
			-# 	= sort_link(@query, :fulltime)
			%th
				= sort_link(@query, :address_state)
			%th
				= sort_link(@query, :address_city)
	%tbody
		- @jobs.each do |job|
			%tr
				%td
					= job.title
				%td
					= job.description
				%td
					= job.company.name
				%td
					= job.shift
				-# %td
				-# 	= job.fulltime
				%td
					-if job.address
						= job.address.state
				%td
					-if job.address
						= job.address.city
= will_paginate @jobs
