%h3
  Job Seeker matches for job:
  = link_to @job.title, job_path(@job)
%br
%table.table.table-hover
  %thead
    %tr
      %th
        Name
        %i.fa.fa-question-circle{ data_toggle: 'tooltip', data_placement: 'top',
          title: 'Only job seekers who have applied to this job are shown' }
      %th
        City
      %th
        Match Rating
      %th
        Job Developer
        %i.fa.fa-question-circle{ data_toggle: 'tooltip', data_placement: 'top',
          title: 'Click on name to contact job developer regarding the job seeker' }
  %tbody
    - @job_matches.each do |job_match|
      %tr
        %td
          - if job_match[2]
            = link_to(job_match[0].full_name, job_seeker_path(job_match[0]))
          - else
            = job_match[0].full_name
        %td
          - address = job_match[0].address
          = "#{address.city}, #{address.state}" if address
        %td
          = show_stars(job_match[1])
          #{job_match[1]} / 5.0
        %td
          - if job_match[2] && (job_developer = job_match[0].job_developer)
            = mail_to(job_developer.email,                                    |
                      job_developer.full_name(last_name_first: false),        |
                      subject: "Application to job: #{@job.title}",           |
                      body: "This is in regards to this job application - " + |
                            "\n\n" +                                          |
                            "Company: " + "#{@job.company.name}" +            |
                            "\n" +                                            |
                            "Job: " + "#{@job.title}" +                       |
                            "\n" +                                            |
                            "Applicant: " + "#{job_match[0].full_name}" +     |
                            "\n\n" + "(your message here)")                   |

          - elsif job_developer = job_match[0].job_developer
            = link_to job_developer.full_name(last_name_first: false),
                '#', class: 'js_interest',
                data: { job_id: @job.id,
                        company_person_id: pets_user.id,
                        job_developer_id: job_developer.id,
                        job_seeker_id: job_match[0].id }
