= form_for company, url: url, method: method,                    |
                      html: {class: 'form-horizontal'} do |f|    |
  .col-sm-offset-2.col-sm-6
    = render 'shared/error_messages', object: company
    %br
  .clearfix
  - @address_form = f
  = render 'companies/subform'

  %h3 Company Contact

  = f.fields_for :company_people do |company_person_f|
    .form-group
      = company_person_f.label :title, 'Title', class: 'control-label col-sm-2'
      .col-sm-4
        = company_person_f.text_field :title, class: 'form-control'

    .form-group
      = company_person_f.label :first_name, 'First Name', class: 'control-label col-sm-2'
      .col-sm-4
        = company_person_f.text_field :first_name, size: 30, class: 'form-control'

    .form-group
      = company_person_f.label :last_name, 'Last Name', class: 'control-label col-sm-2'
      .col-sm-4
        = company_person_f.text_field :last_name, class: 'form-control'

    .form-group
      = company_person_f.label :phone, 'Contact Phone', class: 'control-label col-sm-2'
      .col-sm-6
        = company_person_f.phone_field :phone, size: 30, class: 'form-control'

    .form-group
      = company_person_f.label :email, 'Contact Email', class: 'control-label col-sm-2'
      .col-sm-6
        = company_person_f.email_field :email, size: 30, class: 'form-control'

    .form-group
      = company_person_f.label :password, 'Password', class: 'control-label col-sm-2'
      .col-sm-6
        = company_person_f.password_field :password, size: 30, class: 'form-control'

    .form-group
      = company_person_f.label :password_confirmation, 'Password Confirmation', class: 'control-label col-sm-2'
      .col-sm-6
        = company_person_f.password_field :password_confirmation, size: 30, class: 'form-control'

  .form-group
    .col-sm-2.col-sm-offset-2
      = submit_tag submit, method: :post, class: 'btn btn-primary'
    .col-sm-2.col-sm-offset-2
      = link_to 'Cancel', :back, class: 'btn btn-danger'
