.col-sm-offset-1.col-sm-10
	.pull-right#job-show-links-id
		- if @job_application.status == 'active'
			=link_to "Accept", accept_application_path(@job_application), method: :patch, id: "accept-#{@job_application.id}-button"
			|
		=link_to "Return To Applications", applications_job_path(@job_application.job_id)

	.clearfix
	
	.panel.panel-default#show-panel-id
		.panel-heading#panel-heading-show-id 
			%h4
				= "#{@job_application.job.title}"
				- if @job_application.status != 'active'
					%span{class: 'label label-info'}="#{@job_application.status}"

		= render partial: 'job_seekers/info', locals: {job_seeker: @job_application.job_seeker}

		







