%div(id="#{partial_id}")
  %table.table.table-hover
    %thead
      %tr
        %th
          %strong Name
        %th
          %strong Description
    %tbody
      - job_skills.each do |job_prop|
        %tr
          %td
            = link_to "#{job_prop.name}", send(show_property_path, job_prop), method: :edit
          %td
            = job_prop.description
          %td
            - if job_prop.has_job?
              %span (in use)
            - else
              = link_to send(delete_property_path, job_prop), method: :delete, class: 'btn btn-danger' do
                %span.glyphicon.glyphicon-trash
                &nbsp; Delete

  = will_paginate job_skills, param_name: "#{data_type}_page",
                     params: {data_type: data_type}
