%div{id: "#{modal_id}", class: 'modal fade'}
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        %button(type='button' class='close' data-dismiss='modal')
          %span(aria-hidden='true') &times;
        %h4.modal-title
          = modal_title
      .modal-body
        %div{id: "#{modal_id}_errors"}
        .form-group
          %label(for="#{modal_id}_attr1" class='control-label')
            = attr1_label
          %textarea(class='form-control' id="#{modal_id}_attr1")
        .form-group
          %label(for="#{modal_id}_attr2" class='control-label')
            = attr2_label
          %textarea(class='form-control' id="#{modal_id}_attr2")

        - if defined?(company_id)
          = hidden_field_tag('company_id', company_id)
        - if defined?(user_type)
          = hidden_field_tag('user_type', user_type)
          
      .modal-footer
        %button(type='button' class='btn btn-default'
                                 data-dismiss='modal') Cancel
        %button(type='button' class='btn btn-primary'
                id="#{modal_id}_button")
          = modal_submit
