%h3 Agency Information
.row
  .col-sm-2.text-right
    %strong Name:
  .col-sm-8
    = agency.name
.row
  .col-sm-2.text-right
    %strong Website:
  .col-sm-8
    = @agency.website
.row
  .col-sm-2.text-right
    %strong Phone:
  .col-sm-8
    = @agency.phone
.row
  .col-sm-2.text-right
    %strong Fax:
  .col-sm-8
    = @agency.fax
.row
  .col-sm-2.text-right
    %strong Email:
  .col-sm-8
    = @agency.email
.row
  .col-sm-2.text-right
    %strong Description:
  .col-sm-8
    = truncate(@agency.description, length: 300)
.row
  .col-sm-2.text-right
    %strong Agency Admin(s):
  .col-sm-8
    - @agency_admins.each do |aa|
      = aa.full_name(last_name_first: false)
      = ', ' if aa != @agency_admins.last
