%div
  %table.table.table-hover
    %tbody
      %tr
        %td
          %strong Name
        %td
          = agency.name
      %tr
        %td
          %strong Website
        %td
          = @agency.website
      %tr
        %td
          %strong Phone
        %td
          = @agency.phone
      %tr
        %td
          %strong Fax
        %td
          = @agency.fax
      %tr
        %td
          %strong Email
        %td
          = @agency.email
      %tr
        %td
          %strong Description
        %td
          = @agency.description
      %tr
        %td
          %strong Agency Admin(s)
        %td
          - @agency_admins.each do |aa|
            = aa.full_name(last_name_first: false)
            = ', ' if aa != @agency_admins.last
