= form_tag agency_path(agency), :method => :put, class: 'form-horizontal' do
  .col-sm-offset-2.col-sm-6
    = render 'shared/error_messages', object: agency
    %br
  .clearfix
  .form-group
    = label :agency, :name, 'Name', class: 'control-label col-sm-2'
    .col-sm-6
      = text_field :agency, :name, size: 30, class: 'form-control'

  .form-group
    = label :agency, :website, 'Website', class: 'control-label col-sm-2'
    .col-sm-6
      = text_field :agency, :website, size: 30, class: 'form-control'

  .form-group
    = label :agency, :phone, 'Phone', class: 'control-label col-sm-2'
    .col-sm-6
      = phone_field :agency, :phone, size: 30, class: 'form-control',
      placeholder: 'Eg. 1-369-374-5803 x9579 (\'1-\' prefix and extension optional)'

  .form-group
    = label :agency, :fax, 'Fax', class: 'control-label col-sm-2'
    .col-sm-6
      = phone_field :agency, :fax, size: 30, class: 'form-control',
        placeholder: 'Eg. 1-369-374-5803 x9579 (\'1-\' prefix and extension optional)'

  .form-group
    = label :agency, :email, 'Email', class: 'control-label col-sm-2'
    .col-sm-6
      = email_field :agency, :email, size: 30, class: 'form-control'

  .form-group
    = label :agency, :description, 'Description', class: 'control-label col-sm-2'
    .col-sm-8
      = text_area :agency, :description, cols: 90, rows: 5, class: 'form-control'

  .form-group
    .col-sm-2.col-sm-offset-2
      = submit_tag 'Update Agency', class: 'btn btn-primary'
    .col-sm-2.col-sm-offset-1
      = link_to 'Cancel', :back, class: 'btn btn-danger'
