%h3 company Information

%div{:class => 'container'}
  %div{class: 'div_align_left', id: 'bold_text'}
    Name:
    %br
    Website:
    %br
    Phone:
    %br
    Fax:
    %br
    Email:
    %br
    Description:
  %div{class: 'div_align_right'}
    = company.name
    %br
    = @company.website
    %br
    = @company.phone
    %br
    = @company.email
    %br
    = truncate(@company.description, length: 300)
