.col-sm-9
  %table.table.table-hover
    %thead
      %tr
        %th
          %strong Name
        %th
          %strong Address
        %th
          %strong Status
    %tbody
      - @companies.each do |company|
        %tr
          %td
            - if company.pending_registration?
              = link_to company.name, company_registration_path(company)
            - else
              = link_to company.name, company_path(company)
          %td
            = single_line_address(company.addresses.first)
          %td
            = status_desc(company)
  = will_paginate @companies, param_name: 'companies_page',
                      params: {data_type: 'companies'}
