%h3 Company Information

.row
  .col-sm-2.text-right
    %strong Name:
  .col-sm-8
.row
  .col-sm-2.text-right
    %strong Website:
  .col-sm-8
    = company.website
.row
  .col-sm-2.text-right
    %strong Name:
  .col-sm-8
    = company.name
.row
  .col-sm-2.text-right
    %strong Email:
  .col-sm-8
    = company.email
.row
  .col-sm-2.text-right
    %strong Description:
  .col-sm-8
    = truncate(company.description, length: 300)
.row
  .col-sm-2.text-right
    %strong Status:
  .col-sm-8#company_status
    = render :partial => 'companies/company_status', :locals => {company: company}

%h4 People at this company

- if company.company_people.empty?
  There are no people assigned to this company.
- else
  %div{:class => 'row'}
    %div{:class => 'panel panel-default'}
      %table{:class => 'table table-bordered', 'data-card-view' => 'true', 'data-height' => '299' }
        %thead
          %tr
            %td
              First Name
            %td
              Last Name
            %td
              Title:
        %tbody
          - company.company_people.each do |person|
            %tr
              %td
                = person.first_name
              %td
                -# link_to AgencyPerson 'show' instance here when that is available
                = person.last_name
              %td
                = person.company_roles.first
%br
%br
