%h2 Employer Registration
= form_tag companies_path, method: :post, class: 'form-horizontal' do
  .form-group
    = label :company, :name, 'Company Name', class: 'control-label col-sm-2'
    .col-sm-6
      = text_field :company, :name, size: 30, class: 'form-control'

  .form-group
    = label :address, :street, 'Company Address', class: 'control-label col-sm-2'
    .col-sm-6
      = text_field :address, :street, size: 30, class: 'form-control'

  .form-group
    = label :address, :city, 'City', class: 'control-label col-sm-2'
    .col-sm-3
      = text_field :address, :city, size: 30, class: 'form-control'
    = label :address, :state, 'State', class: 'control-label col-sm-2'
    .col-sm-1
      = text_field :address, :state, size: 2, class: 'form-control'
    = label :address, :zipcode, 'Zip', class: 'control-label col-sm-2'
    .col-sm-2
      = text_field :address, :zipcode, size: 10, class: 'form-control'

  .form-group
    = label :company, :email, 'Email', class: 'control-label col-sm-2'
    .col-sm-4
      = email_field :company, :email, size: 30, class: 'form-control'
    = label :company, :phone, 'Phone', class: 'control-label col-sm-2'
    .col-sm-4
      = phone_field :company, :phone, size: 30, class: 'form-control'

  .form-group
    = label :company, :website, 'Company Website', class: 'control-label col-sm-2'
    .col-sm-4
      = text_field :company, :website, size: 30, class: 'form-control'

    = label :company, :ein, 'Employer Identification Number', class: 'control-label col-sm-2'
    .col-sm-4
      = text_field :company, :ein, size: 30, class: 'form-control'

  .form-group
    = label :company, :description, 'Description', class: 'control-label col-sm-2'
    .col-sm-8
      = text_area :company, :description, cols: 90, rows: 5, class: 'form-control'

  .form-group
    .col-sm-2.col-sm-offset-2
      = submit_tag 'Submit', class: 'btn btn-primary'
    .col-sm-2.col-sm-offset-1
      = link_to 'Cancel', class: 'btn btn-danger'
