.form-group
  .col-sm-2.control-label
    = label :company, :name, 'Company Name'
  .col-sm-6
    = @address_form.text_field :name, size: 30, class: 'form-control'

.form-group
  .col-sm-2.control-label
    = label :company, :email, 'Email'
  .col-sm-6
    = @address_form.email_field :email, size: 30, class: 'form-control'

.form-group
  .col-sm-2.control-label
    = label :company, :job_email, 'Job Email'
  .col-sm-6
    = @address_form.email_field :job_email, size: 30, class: 'form-control', placeholder: 'Job applications will be sent to this mail'
  .col-sm-1
    %i.fa.fa-question-circle{data_toggle: 'tooltip', data_placement: 'top',
              title: 'Email where job applications will be sent'}

.form-group
  .col-sm-2.control-label
    = label :company, :phone, 'Phone'
  .col-sm-6
    = @address_form.phone_field :phone, size: 30, class: 'form-control', placeholder: 'Eg. 1-369-374-5803 x9579 (\'1-\' prefix and extension optional)'

.form-group
  .col-sm-2.control-label
    = label :company, :fax, 'Fax'
  .col-sm-4
    = @address_form.phone_field :fax, size: 30, class: 'form-control',
    placeholder: 'Eg. 1-369-374-5803 x9579 (\'1-\' prefix and extension optional)'

.form-group
  .col-sm-2.control-label
    = label :company, :website, 'Website'
  .col-sm-6
    = @address_form.text_field :website, size: 30, class: 'form-control'

.form-group
  .col-sm-2.control-label
    = label :company, :ein, 'EIN'
  .col-sm-6
    = @address_form.text_field :ein, size: 30, class: 'form-control'

.form-group
  = label :company, :description, 'Description', class: 'control-label col-sm-2'
  .col-sm-8
    = @address_form.text_area :description, cols: 90, rows: 5, class: 'form-control', placeholder: 'please provide a short descrpition of your company'

.form-group
  .col-sm-2.control-label
    %b Company Addresses
  .col-sm-10
    #addresses
      = @address_form.fields_for :addresses do |address|
        = render 'address/address_fields', f: address
      .links
        = link_to_add_association 'Add Address', @address_form, :addresses,
                                partial: 'address/address_fields'
