.form-group
  = label :company, :name, 'Company Name', class: 'control-label col-sm-2'
  .col-sm-6
    = @address_form.text_field :name, size: 30, class: 'form-control'

= render partial: 'address/addressform', locals: {fields_for_name: 'addresses' }

.form-group
  = label :company, :email, 'Email', class: 'control-label col-sm-2'
  .col-sm-4
    = @address_form.email_field :email, size: 30, class: 'form-control'

  = label :company, :phone, 'Phone', class: 'control-label col-sm-2'
  .col-sm-4
    = @address_form.phone_field :phone, size: 30, class: 'form-control'

.form-group
  = label :company, :fax, 'Fax', class: 'control-label col-sm-2'
  .col-sm-4
    = @address_form.phone_field :fax, size: 30, class: 'form-control'

.form-group
  = label :company, :job_email, 'Job Email', class: 'control-label col-sm-2'
  .col-sm-6
    = @address_form.email_field :job_email, size: 30, class: 'form-control'
  %i.fa.fa-question-circle{:title => "Email where the job applications will be sent", data: {:toggle=>"popover"}}

.form-group
  = label :company, :website, 'Company Website', class: 'control-label col-sm-2'
  .col-sm-4
    = @address_form.text_field :website, size: 30, class: 'form-control'

  = label :company, :ein, 'Employer Identification Number', class: 'control-label col-sm-2'
  .col-sm-4
    = @address_form.text_field :ein, size: 30, class: 'form-control'

.form-group
  = label :company, :description, 'Description', class: 'control-label col-sm-2'
  .col-sm-10
    = @address_form.text_area :description, cols: 90, rows: 5, class: 'form-control'

