%h1 Companies#new
%h2 Sign up
= form_for(@company) do |f|
    = f.label :name, 'Company Name'
    = f.text_field :name, size: 30
    %br
    = f.label  :email, 'Email'
    = f.email_field  :email, size: 30
    %br
    = f.label  :phone, 'Company Phone Number'
    = f.phone_field  :phone, size: 30
    %br
    = f.label  :website, 'Company Website'
    = f.text_field  :website, size: 30
    %br
    = f.label  :ein, 'Employer ID Number'
    = f.number_field  :ein, size: 10
    %br
    = f.label  :description, 'Description'
    = f.text_area  :description, cols: 90, rows: 5
    %br
    %br
    .actions
    = f.submit "Sign up"
  
