%h3 Company Information

= render partial: 'company', locals: {company: @company}

.row
  .col-sm-2
    = button_to 'Edit Company',
                edit_company_path(@company, admin_type: 'AA'),
                method: :get, class: 'btn btn-primary'

  .col-sm-2.col-sm-offset-1
    - if @company.status == Company::STATUS[:ACT]
      = link_to 'Invite Person',
            new_user_invitation_path(person_type: 'CompanyPerson',
                   org_id: @company.id),
            method: :get, class: 'btn btn-primary'

  .col-sm-2.col-sm-offset-1
    = button_to 'Delete Company', company_path(@company, admin_type: 'AA'),
      method: :delete, data: {confirm: "Delete company #{@company.name}?"},
                      class: 'btn btn-danger'
