%p
  Hello #{@company_person.first_name} #{@company_person.last_name},
%p
  This message is from the administrator of the PETS system for
  the jobs agency:
  %strong
    #{@agency.name}.
%p
  Your registration of #{@company.name} in PETS has been denied.
%p
  = @email_text
%p
  If you have any questions please contact the PETS administrator at:
  = mail_to("#{ENV['NOTIFICATION_EMAIL']}", 'PETS Admin',            |
         subject: "Registration request for #{@agency.name}")   |
