%p
  Hello #{@company_person.first_name} #{@company_person.last_name},
%p
  This message is from the administrator of the PETS system for
  the jobs agency:
  %strong
    #{@agency.name}.
%p
  Your registration of #{@company.name} in PETS has been approved.
%p
  In addition to this email, you should also receive an email from us with
  subject "Confirmation instructions".  Please follow those instructions to
  confirm your personal account in PETS.
%p
  Please note that you will be the initial "Company Administrator" for your
  company's account in PETS.  A company administrator manages certain information
  associated with the company in PETS, and can also invite other people at
  #{@company.name} to create accounts in PETS. Typically, a
  company administrator will invite HR people, who in turn can manage
  the company's job postings in PETS.
%p
  There must be at least one administrator for a company.
  There can be more than one.  You can assign other people from your company
  to be administrators, as long as each such person has an account in PETS.
%p
  If you have any questions please contact the PETS administrator at:
  = mail_to("#{ENV['NOTIFICATION_EMAIL']}", 'PETS Admin',            |
         subject: "Registration request for #{@agency.name}")   |
