%h2
  = "Welcome back to PETS, #{pets_user.full_name}"
  = link_to edit_profile_agency_person_path(pets_user),
    :title => 'Edit profile',
    :id => 'edit-profile' do
    %i.fa.fa-pencil-square-o.fa-1

%h3 Tasks that need your attention
%i Tasks would go here

- if @agency_person.is_case_manager?(@agency)
  %h3 Your Job Seekers (Case Manager)
  - if @your_jobseekers_cm.empty?
    %i There are no job seekers assigned to you yet.
  - else
    .col-sm-9
      %table.table.table-hover
        %thead
          %tr
            %td
              %strong Name
            %td
              %strong Status
            %td
              %strong Last Login
        %tbody
          - @your_jobseekers_cm.each do |js|
            %tr
              %td
                = js.full_name
              %td
                - unless js.job_seeker_status.nil?
                  = js.job_seeker_status.value
              %td
                - if js.last_sign_in_at.nil?
                  %i never
                - else
                  = js.last_sign_in_at
      = will_paginate @your_jobseekers_cm, param_name: 'your_jobseekers_cm_page'
    .clearfix

    %h3 Job Seekers Without a Case Manager
    - if @js_without_cm.empty?
      %i All job seekers have a Case Manager at the moment.
    -else
      .col-sm-9
        %table.table.table-hover
          %thead
            %tr
              %td
                %strong Name
              %td
                %strong Status
              %td
                %strong Last Login
          %tbody
            - @js_without_cm.each do |js|
              %tr
                %td
                  = js.full_name
                %td
                  - unless js.job_seeker_status.nil?
                    = js.job_seeker_status.value
                %td
                  - if js.last_sign_in_at.nil?
                    %i never
                  - else
                    = js.last_sign_in_at
        = will_paginate @js_without_jd, param_name: 'js_without_cm_page'
      .clearfix

- if @agency_person.is_job_developer?(@agency)
  %h3 Your Job Seekers
  - if @your_jobseekers_jd.empty?
    %i There are no job seekers assigned to you yet.
  - else
    .col-sm-9
      %table.table.table-hover
        %thead
          %tr
            %td
              %strong Name
            %td
              %strong Status
            %td
              %strong Last Login
        %tbody
          - @your_jobseekers_jd.each do |js|
            %tr
              %td
                = js.full_name
              %td
                - unless js.job_seeker_status.nil?
                  = js.job_seeker_status.value
              %td
                - if js.last_sign_in_at.nil?
                  %i never
                - else
                  = js.last_sign_in_at
      = will_paginate @your_jobseekers_jd, param_name: 'your_jobseekers_jd_page'
    .clearfix

  %h3 Job Seekers Without a Job Developer
  - if @js_without_jd.empty?
    %i All job seekers have a Case Manager at the moment.
  - else
      .col-sm-9
      %table.table.table-hover
        %thead
          %tr
            %td
              %strong Name
            %td
              %strong Status
            %td
              %strong Last Login
        %tbody
          - @js_without_jd.each do |js|
            %tr
              %td
                = js.full_name
              %td
                - unless js.job_seeker_status.nil?
                  = js.job_seeker_status.value
              %td
                - if js.last_sign_in_at.nil?
                  %i never
                - else
                  = js.last_sign_in_at
      = will_paginate @js_without_jd, param_name: 'js_without_jd_page'
