.col-sm-2
  %h3
    = @agency_person.full_name(last_name_first: false)

.col-sm-10
  %table{:class => 'table table-hover', style: 'margin-top: 10px;'}
    %tbody
      %tr
        %td
          %strong Agency:
        %td
          = @agency_person.agency.name
      %tr
        %td
          %strong Branch:
        %td
          = @agency_person.branch ? @agency_person.branch.code : 'Not Assigned'
      %tr
        %td
          %strong Email:
        %td
          = mail_to @agency_person.email
      %tr
        %td
          %strong Phone:
        %td
          = @agency_person.phone
      %tr
        %td
          %strong Agency Role(s):
        %td
          = @agency_person.agency_roles.pluck(:role).join(', ') unless |
              @agency_person.agency_roles.empty?   |
      %tr
        %td
          %strong Status:
        %td
          - if @agency_person.status
            = status_desc(@agency_person)
            = link_to '(Invite Again)',
              user_invitation_path(user: {email: @agency_person.email,
                                     first_name: @agency_person.first_name,
                                      last_name: @agency_person.last_name} ),
                                         method: :post if @agency_person.invited?

.clearfix

.col-sm-10.col-sm-offset-2
  %b Job specialties:
  - if @agency_person.job_categories.empty?
    %i None
  - else
    .col-sm-12.panel.pre-scrollable.panel-default.fixed-panel
      %table.table.table-hover
        %thead
          %tr
            %th
              %b Name
            %th
              %b Description
        %tbody
          - @agency_person.job_categories.each do |category|
            %tr
              %td
                = category.name
              %td
                = category.description

.clearfix
%br
.col-sm-5.col-sm-offset-2
  %b Assigned Job Seekers to #{@agency_person.full_name(last_name_first: false)} as Job Developer:
  - seekers = job_seekers_assigned_for_role(@agency_person, :JD)
  - if seekers.empty?
    %i None
  - else
    .col-sm-12.panel.pre-scrollable.panel-default.fixed-panel
      %table.table.table-hover
        %tbody
          - seekers.each do |seeker|
            %tr
              %td
                = link_to seeker.full_name,
                          job_seeker_path(seeker.id)
.col-sm-5
  %b Assigned Job Seekers to #{@agency_person.full_name(last_name_first: false)} as Case Manager:
  - seekers = job_seekers_assigned_for_role(@agency_person, :CM)
  - if seekers.empty?
    %i None
  - else
    .col-sm-12.panel.pre-scrollable.panel-default.fixed-panel
      %table.table.table-hover
        %tbody
          - seekers.each do |seeker|
            %tr
              %td
                = link_to seeker.full_name,
                          job_seeker_path(seeker.id)

.clearfix
%br
%br
.col-sm-2.col-sm-offset-2
  = button_to 'Edit Person', edit_agency_person_path(@agency_person),
          method: :get, class: 'btn btn-primary'
.col-sm-2.col-sm-offset-1
  = button_to 'Delete Person', agency_person_path(@agency_person), method: :delete,
    data: {confirm: "Delete this person?"}, class: 'btn btn-danger'
