%div{class: "footer text-center"}
    %div{ :class => "container" }
        %div{:class => "footer-left"}
            %span= "&reg;".html_safe+" MetPlus #{Date.today.year}"
        %div{:class => "footer-right"}
            For employers:
            - if pets_user.is_a?(CompanyPerson)
                = link_to "Post jobs", new_job_path(company_id: current_user, company_person_id: current_user.try(:actable_id)), class: "#{yield(:new_job_active)}"
                |
                = link_to "Search Resumes", '#', class: "#{yield(:search_resume_active)}"
                |
            - elsif pets_user.try(:agency)  && pets_user.is_job_developer?(pets_user.try(:agency))
                = link_to "Post jobs", new_job_path, class: "#{yield(:new_job_active)}"
                |
                = link_to "Search Resumes", '#', class: "#{yield(:search_resume_active)}"
                |

            #{ link_to "Partner with Us", new_company_registration_path, class: yield(:new_company_active) }
