%nav{:class => 'menu navbar navbar-default navbar-fixed-top', data: {spy: "scroll"}}
  %div{:class => 'container'}
    %div{:class => 'navbar-header' }
      =link_to 'MetPlus', root_path ,{class: 'navbar-brand'}
    %div{:id=>'navbar', :class => 'navbar-collapse collapse'}
      %ul{:class => 'nav navbar-nav'}
        %li{:class => 'menu-item'}
          %a{:href => '/jobs', id: 'job'} Jobs
        %li{:class => 'menu-item'}
          %a{:href => '#', id: 'about'} About
        %li{:class => 'menu-item'}
          %a{:href => '#', id: 'contact'} Contact
        %li{:class => 'menu-item'}
          - if user_signed_in?
            - if current_user_agency_admin?
              %li{:class => 'menu-item dropdown'}
                %a{href: '#', class: 'dropdown-toggle', 'data-toggle' => 'dropdown',
                        role: 'button', 'aria-haspopup' => 'true',
                         id: 'dd_menu', 'aria-expanded' => 'false'}
                  = ("Admin" + "<span class='caret'></span>").html_safe
                %ul.dropdown-menu{'aria-labelledby' => 'dd_menu'}
                  %li.bg-primary
                    = link_to('Agency and Partner Companies', agency_admin_home_path)
                  %li.bg-primary
                    = link_to('Job Properties',                 |
                            agency_admin_job_properties_path)   |
            - elsif current_user.actable_type == 'JobSeeker'
              = link_to('JobSeeker Homepage', job_seekers_home_path(current_user.actable_id))

      %ul{:class => 'nav navbar-nav navbar-right'}
        - if !user_signed_in?
          %li
            -if !(params[:controller]=='devise/sessions' && params[:action]=='new' || params[:action]== 'create')
              %div{:class => 'button-menu'}
                = link_to 'Log In', login_path, :role => 'button', :class => 'btn btn-default btn-xs', :id => 'login_button'
          %li{:id => 'register-button'}
            -if !(params[:controller]=='devise/registrations' && params[:action]=='new')
              %div{:class => 'button-menu'}
                = link_to 'New user', new_user_registration_path, :role => 'button', :class => 'btn btn-default btn-xs', :id => 'registration_button'
        - else
          %li
            %div{:class => 'navbar-text'}
              Hello,

              -if current_user.actable_type == 'JobSeeker'
                = link_to current_user.first_name, edit_job_seeker_path(current_user.actable_id)
              -elsif current_user.actable_type == 'CompanyPerson'
                = link_to current_user.first_name, edit_profile_company_person_path(current_user.actable_id)
              -elsif current_user.actable_type == 'AgencyPerson'
                = link_to current_user.first_name, edit_profile_agency_person_path(current_user.actable_id)
              -else
                = link_to current_user.first_name, edit_user_registration_path(current_user)

          %li
            %div{:class => 'button-menu'}
              = link_to 'Log out', logout_path, :role => 'button', method: :delete, :class => 'btn btn-default btn-xs', :id => 'logout_button'
