!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %title= full_title(yield(:title))
    = csrf_meta_tags
    = stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css'
    = stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'
    = stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css'
    = stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/css/select2.min.css'
    = stylesheet_link_tag "application", :media => "all", 'data-turbolinks-track' => true
    -# pusher should be loaded before the application js files - pusher.js depends on this
    = javascript_include_tag '//js.pusher.com/3.0/pusher.min.js'
    = javascript_include_tag "application", 'data-turbolinks-track' => true
    = javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'
    = javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/jquery-noty/2.3.8/jquery.noty.min.js'
    = javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/jquery-noty/2.3.8/layouts/bottomLeft.min.js'
    = javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/jquery-noty/2.3.8/layouts/bottomRight.min.js'
    = javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/jquery-noty/2.3.8/themes/default.js'
    = javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/jquery-noty/2.3.8/themes/bootstrap.min.js'
    = javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/js/select2.full.min.js'
    = javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.3.2/spin.min.js'
    = favicon_link_tag 'PETS_Logo.png'
  %body
    %a{:href => '#top'}
    = render partial: 'layouts/menu'
    %div{:class => 'content container'}
      %div{:class => 'row', :id => 'messages'}
        %div{:class => 'container'}
          - flash.each do |key, value|
            %div{:class => "alert #{flash_to_css key}"}
              = value
              %a{href: "#", class: "close", "data-dismiss" =>  "alert",  "aria-label" => "close"} &times;
      %div{:class => 'row'}
        = yield
    = render 'layouts/footer'

  %script
    $(document).ready(function(){$('[data-toggle="tooltip"]').tooltip(); });
